body {
  min-width: 850px;
  background-color: rgb(37, 24, 7);
  color: white;
  font-size: 1.25rem;
}

h1 {
  text-align: center;
}


.flex-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  width: 50%;
  padding: 10px 0;
  margin: 10px 0;
  background-color: gray;
  text-align: center;
  font-size: 1em;
}

.player {
  outline: black 5px solid;
  outline-offset: -5px;
}

.msg {
  text-align: center;
}

.container {
  display: flex;
}

.grid {
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap; 
  margin: 0 auto;
}

.grid div {
  width: 100px;
  height: 100px;
  text-align: center;
}

.black {
  background:green;
  color: green;
}

.white {
  background: burlywood;
  color: burlywood;
}

.Pawn.player2 {
  background: currentColor url(Chess-Sprites.png) -500px -100px;
}

.Rook.player2 {
  background: currentColor url(Chess-Sprites.png) -400px -100px;
}

.Knight.player2 {
  background: currentColor url(Chess-Sprites.png) -300px -100px;
}

.Bishop.player2 {
  background: currentColor url(Chess-Sprites.png) -200px -100px;
}

.Queen.player2 {
  background: currentColor url(Chess-Sprites.png) -100px -100px;
}

.King.player2 {
  background: currentColor url(Chess-Sprites.png) 0px -100px;
}

.Pawn.player1 {
  background: currentColor url(Chess-Sprites.png) -500px 0px;
}

.Rook.player1 {
  background: currentColor url(Chess-Sprites.png) -400px 0px;
}

.Knight.player1 {
  background: currentColor url(Chess-Sprites.png) -300px 0px;
}

.Bishop.player1 {
  background: currentColor url(Chess-Sprites.png) -200px 0px;
}

.Queen.player1 {
  background: currentColor url(Chess-Sprites.png) -100px 0px;
}

.King.player1 {
  background: currentColor url(Chess-Sprites.png) 0px 0px;
}

.clicked {
  outline: 3px solid red;
  outline-offset: -3px;
}

.connected,
.ready {
  font-weight: normal;
}

.connected span,
.ready span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: red;
}

span.green {
  background: green;
}
