body {
  background-color: burlywood;
}
.container {
  display: flex;
}

.grid {
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap; 
  margin: 0 auto;
}

.black {
  background-color:black;
  color: white;
}

.white {
  background-color: white;
  color: black;
}

.grid div {
  width: 100px;
  height: 100px;
}

.connected,
.ready {
  font-weight: normal;
}

.connected span,
.ready span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: red;
}

span.green {
  background: green;
}
